@import './Vars.scss';
@import './Media.scss';
body {
    margin: 0;
    background-color: $main-color;
    font-family: $theme-font;
    color: #ffffff;
}

* {
    box-sizing: border-box;
}

 ::-webkit-scrollbar {
    display: none;
}